body {
  font-family: Roboto;
}
.paragraph-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}
.Heading-p {
  font-weight: 500;
  font-size: 1.55rem;
  width: 1fr;
  margin-left: 30px;
  text-align: center;
}